* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}


.hero {
    height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
}

.hero span {
    color: #00ffd5;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    text-decoration: none;
    background: #00ffd5;
    color: black;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
}


section {
    padding: 60px 10%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}


.skill-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


.project-box {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #00ffd5;
    border-radius: 8px;
}

.contact p {
    text-align: center;
    margin: 10px;
}

.contact a {
    color: #0077cc;
    text-decoration: none;
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
